<p style="color: green"><%= notice %></p>

<h1><%= @inventory.name %></h1> 
<%# <%= link_to "Add", new_inventory_path %>
<%= link_to "Add Food", new_inventory_food_path %>



<%# todo: this partial is useless, it may need to be changed %>
<%# <%= render @inventory %>
<table>
  <tr>
      <th>Food</th>
      <th>Quantiy</th>
      <th>Actions</th>
  </tr>
  <% @inventory_foods.each do |inventory_food| %>
    <tr>
      <td><%= inventory_food.food.name %></td>
      <td><%= inventory_food.quantity %>
          <%= inventory_food.food.measurement_unit %>
      </td>
      <td>
        <%= button_to "Remove", inventory_food, method: :delete %>
      </td>
    </tr>
  <% end %>
</table>

<table>
  <tr>
    <th>Food</th>
    <th>Quantiy</th>
    <th>Actions</th>
  </tr>
</table>

<div>
  <%# <%= link_to "Edit this inventory", edit_inventory_path(@inventory) %> 
  <%= link_to "Back to inventories", inventories_path %>


  <%# <%= button_to "Destroy this inventory", @inventory, method: :delete %>
</div>
