<div id="<%= dom_id @recipe %>" class="d-flex flex-column gap-3">
  <h1 class="text-center">
    <%= @recipe.name %>
  </h1>

  <div class="container-lg row">

    <div class="col">
      <div>
        <strong>Preparation time:</strong>
        <%= @recipe.preparation_time.to_s(:time) %>
      </div>

      <div>
        <strong>Cooking time:</strong>
        <%= @recipe.cooking_time.to_s(:time) %>
      </div>
    </div>
    
    <div class="col d-flex justify-content-end">
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDisabled" <%= 'checked' if @recipe.public %> disabled>
        <label class="form-check-label" for="flexSwitchCheckDisabled">Public</label>
      </div>
    </div>
  </div>

  <div class="container-lg row">
    <h4>Steps:</h4>
    <div><%= @recipe.description %><div>
  </div>


  <div class="d-flex justify-content-between container-lg mt-3 mb-3">

  <button id="modal_btn">Generate shopping list</button>
  <% if can? :manage, @recipe%>
    <%= link_to 'Add ingredient', new_recipe_recipe_food_path(@recipe), class: 'btn btn-success' %>
  <% end %>
  </div>

<hr class="line" />
</div>

<div id="modal_content" class="d-none" 
style="width:100vw; 
z-index:2;
margin:0;
padding:0;
height:100vh; 
background-color:rgba(150,150,150, 0.7); 
position:absolute;
top:0;
left:0;
box-sizing: border-box;
">
  
  <div style="max-width:70vw; 
  min-height:50vh;
  margin:25vh auto;
  background-color:white;
  border-radius:10px;">

  <header>
    <button id="close">&times;</button>
  <header>
  </div>
</div>