<p style="color: green"><%= notice %></p>

<section>
 <%= render 'recipe_details' %>
</section>

<section>
  <div class="d-flex justify-content-between container-lg mt-3 mb-3">
   <button type="button" class="btn btn-primary">
        Generate shopping list
   </button>
  <% if can? :manage, @recipe%>
    <%= link_to 'Add ingredient', new_recipe_recipe_food_path(@recipe), class: 'btn btn-success' %>
  <% end %>
  </div>

<hr class="line" />
</section>
 <%= link_to new_shopping_list_path, data: { turbo_frame: "modal" }, class: "..." do %>
    Edit profile
  <% end %>
<%= turbo_frame_tag :cookie_consent, src: new_shopping_list_path%>
<section>
<div>
<% if @recipe_foods.empty? %>
<p>This recipe doesn't have ingredients yet.</p>
<% else %>
<table class="table">
<thead>
<tr>
        <th scope="col">Food</th>
        <th scope="col">Quantity</th>
        <th scope="col">Value</th>
<% if can? :manage, @recipe%>
        <th scope="col">Actions</th>
<% end %>
</tr>
</thead>
<tbody>
<% @recipe_foods.each do |recipe_food|%>
<tr scope="row">
  <td><%= recipe_food.food.name %></td>
  <td><%= recipe_food.quantity%></td>
  <td>$<%= recipe_food.food.price * recipe_food.quantity %></td>
  <% if can? :manage, @recipe%>
       <td>
    <%= link_to "Modify", recipe_edit_recipe_food_path(recipe_food.recipe, recipe_food)%>
    <%= button_to "Delete", recipe_recipe_food_path(recipe_food.recipe, recipe_food), method: :delete%>
  </td>
  <% end %>
</tr>
<% end %>
</tbody>
</table>
<% end %>
</div>
</section>


<div class="d-flex justify-content-center gap-3 container-lg mt-3 mb-3"> 
  <%= link_to "Back to my recipes", recipes_path, class: "btn btn-primary" %> 
   <% if can? :manage, @recipe%>
  <%= button_to "Destroy this recipe", @recipe, method: :delete, class: "btn btn-danger" %>
  <% end %>
</div>
