<p style="color: green"><%= notice %></p>

<section>
 <%= render 'recipe_details' %>
</section>

<section>
  <div class="d-flex justify-content-between container-lg mt-3 mb-3">
  <button id="modal_btn">Generate shopping list</button>
  <% if can? :manage, @recipe%>
    <%= link_to 'Add ingredient', new_recipe_recipe_food_path(@recipe), class: 'btn btn-success' %>
  <% end %>
  </div>
</section>

<section>
  <div>
      <% if @recipe_foods.empty? %>
        <p>This recipe doesn't have ingredients yet.</p>
      <% else %>
      <table class="table">
        <thead>
          <tr>
            <th>Food</th>
            <th>Quantity</th>
            <th>Value</th><% if can? :manage, @recipe%>
            <th colspan="2">Actions</th>
          <% end %>
          </tr>
        </thead>
        
        <tbody>
          <% @recipe_foods.each do |recipe_food|%>
            <tr>
              <td><%= recipe_food.food.name %></td>
              <td><%= recipe_food.quantity %><%= recipe_food.food.measurement_unit %></td>
              <td>$<%= recipe_food.food.price * recipe_food.quantity %></td>
              <% if can? :manage, @recipe%>
                <td>
                  <%= link_to "Modify", recipe_edit_recipe_food_path(recipe_food.recipe, recipe_food), class: "btn btn-primary"%>
                  <%= button_to "Delete", recipe_recipe_food_path(recipe_food.recipe, recipe_food), method: :delete, class: "btn btn-danger"%>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</section>

<div class="d-flex justify-content-center gap-3 container-lg mt-3 mb-3"> 
  <%= link_to "Back to my recipes", recipes_path, class: "btn btn-primary" %> 
   <% if can? :manage, @recipe%>
  <%= button_to "Destroy this recipe", @recipe, method: :delete, class: "btn btn-danger" %>
  <% end %>
</div>

<div id="modal_content" class="d-none" 
style="width:100vw; 
z-index:2;
margin:0;
padding:0;
height:100vh; 
background-color:rgba(150,150,150, 0.7); 
position:absolute;
top:0;
left:0;
box-sizing: border-box;
">
  
  <div style="max-width:70vw; 
  min-height:50vh;
  margin:25vh auto;
  background-color:white;
  border-radius:10px;">
   <div class="modal-header">
   <button id="close" class="close">&times;</button>
   </div>
 <div class="modal-body">
 <h5 class="modal-title">Choose an inventory to use</h5>
         <%=form_with url: general_shopping_list_index_path, method: :get do |f| %>
      <div>
        <div>
          <%= f.select :inventory_id, Inventory.all.collect { |inventory| [inventory.name, inventory.id] }, :prompt => 'Select an Inventory', class: 'focus:outline-none', required: true %>
        </div>
        <%= f.hidden_field :recipe_id, value: @recipe.id, required: true %>
      </div>
      <div>
        <%= f.submit "Generate",class:"btn btn-primary text-black"  %>
      </div> 
    <% end %>
      </div>
    </div>
  </div>
  </div>
</div>
