  <section class="index-container">
   <div>
      <h2>List of Foods</h2>
      <div class=" Add_button">
      <%= link_to 'Add Food', new_food_path %>
      </div>
      <br>
      <table class="table_food">
        <thead>
          <tr>
            <th>Food</th>
            <th>Measurement Unit</th>
            <th>Price Unit</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% @foods.each do |food| %>
            <tr>
               <td><%= food.name %></td>
               <td><%= food.measurement_unit %></td>
               <td><%= food.price %></td>
              <div>
               <td>
                <% if can? :delete, food %><%= link_to'Delete', food, :method => :delete %><% end %>
               </td>
            </tr>
          </div>
          <% end %>
        </tbody>
      </table>
   </div>
  </section>
