
<%= form_with(model: recipe_food, url: recipe_recipe_foods_path(@recipe), method: :post) do |form| %>
  <% if recipe_food.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(recipe_food.errors.count, "error") %> prohibited this recipe_food from being saved:</h2>

      <ul>
        <% recipe_food.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :food_id, style: "display: block", class: "form-label" %>
    <%= form.select :food_id, @foods.map {|food| ["#{food.name} in #{food.measurement_unit}", food.id]}, {}, { class: 'form-select form-select-lg' } %>
    If food not present you may <%= link_to 'Add New Food', action: :add_food %>
  </div>
  <div class="mb-3">
    <%= form.label :quantity, style: "display: block", class: "form-label" %>
    <%= form.number_field :quantity,  class: "form-control m-2 w-50"%>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
